<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="MainLogs">
			<FileName>logs/all.log</FileName>
			<FilePattern>logs/all-%d{yyyy-MM-dd-hh}-%i.log.zip
			</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		<RollingFile name="UsersAndRolesManageLogs">
			<FileName>logs/userAccess.log</FileName>
			<FilePattern>logs/userAccess-%d{yyyy-MM-dd-hh}-%i.log.zip
			</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.bioface.service.UserRoleService" level="info"
			additivity="false">
			<AppenderRef ref="UsersAndRolesManageLogs" />
		</Logger>
		<Logger name="com.bioface" level="info" additivity="false">
			<AppenderRef ref="MainLogs" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
